@import url(../components/bootstrap/dist/css/bootstrap.min.css);
@import url(../components/simple-line-icons/css/simple-line-icons.css);
@import url(../components/font-awesome/css/font-awesome.min.css);
@import url(../unify/style.css);
@import url(../unify/theme-colors/blue.css);
@import url(custom.css);

.banner {
  background: url("../img/eb/banner.png") no-repeat;
  padding: 100px 20px;
  background-size: cover;
}

.banner h1 {
  color: white;
  text-align: center;
  font-weight: bold;
}

.recruit-link-btn {
  margin: 15px;
  padding-top: 4px;
  width: 140px;
  border: solid 2px white;
  border-radius: 100px !important;
  text-align: center;
}

.recruit-link-btn,
.recruit-link-btn h4 {
    color: white;
    display: inline-block;
}

.recruit-link-btn:hover {
  background-color: white;
  transition: all 0.3s ease-in-out;
}

.recruit-link-btn:hover,
.recruit-link-btn:hover h4 {
  color: #666;
}

.recruit-link-btn i {
  font-weight: 400;
  font-size: 18px;
}

.cbp-item {
  height: 150px !important;
}

.desc-btn {
  padding-top: 4px;
  width: 100%;
  height: 100%;
  display: table;
}

.desc-btn,
.desc-btn h4 {
  color: white;
}

.desc-btn i {
  font-weight: 400;
  font-size: 25px;
}

.desc-btn .vcenter {
  display: table-cell;
  vertical-align: middle;
}

.desc-btn-deep-green {
  background-color: #1ABC9C;
}

.desc-btn-red {
  background-color: #E74C3C;
}

.desc-btn-deep-blue {
  background-color: #3498DB;
}

.desc-btn-light-blue {
  background-color: #27D7E7;
}

.desc-btn-purple {
  background-color: #9B6BCC;
}

.desc-btn-light-green {
  background-color: #72C02C;
}

/*Owl carousel*/
.owl-carousel {
  padding-top: 20px;
}
.owl-carousel img {
  transition: all 0.8s ease-in-out;
}

.owl-carousel a:hover img {
  opacity: 0.8;
  transform: scale(1.2) rotate(3deg);
}

.owl-carousel em {
  overflow: hidden;
  display: block;
  width: 100%;
}

.owl-carousel a {
  display: block;
  text-align: center;
}

.owl-carousel span {
  display: block;
  padding: 10px;
  border-bottom: solid 2px #eee;
}
.owl-carousel a:hover span {
  border-bottom: solid 2px #3498db;
  transition: all 0.3s ease-in-out;
}

.owl-carousel .item a i {
  color: #666;
}

/*Breadcrumbs v5
------------------------------------*/
.breadcrumb-v5 {
  padding: 20px 0;
  list-style: none;
}

.breadcrumb-v5 > li {
  color: #999;
  font-size: 18px;
  display: inline-block;
}

.breadcrumb-v5 > li + li:before {
  color: #ccc;
  content: "\f105";
  margin-left: 7px;
  padding-right: 8px;
  font-family: FontAwesome;
}

.breadcrumb-v5 li h1 {
  margin: 0;
}

.breadcrumb-v5 li a {
  color: #999;
}

.breadcrumb-v5 li i {
  margin: 0 auto;
  font-size: 18px;
}

.breadcrumb-v5 li.active,
.breadcrumb-v5 li a:hover {
  color: #18ba9b;
  text-decoration: none;
}
/* blue.css*/
/* Breadcrumb v5
------------------------------------*/
.breadcrumb-v5 li.active,
.breadcrumb-v5 li a:hover {
    color: #3498db;
}


/*Service Info*/
.service-info {
  background:none;
}
