@import url(../components/bootstrap/dist/css/bootstrap.min.css);
@import url(../components/simple-line-icons/css/simple-line-icons.css);
@import url(../components/font-awesome/css/font-awesome.min.css);
@import url(../unify/style.css);
@import url(../unify/theme-colors/blue.css);
@import url(custom.css);

.banner {
  background: url("../img/eb/banner.png") no-repeat;
  padding: 100px;
  background-size: cover;
}

.banner h1 {
  color: white;
  text-align: center;
}

.hiring {
  background-color: #eee;
  padding-top: 20px;
  padding-bottom: 20px;
}

.recruit-link-btn {
  padding-top: 18px;
  height: 100px;
  width: 100%;
  border: solid 2px #3498db;
  border-radius: 50px !important;
  text-align: center;
}

.recruit-link-btn,
.recruit-link-btn h4 {
    color: #3498db;
}

.recruit-link-btn:hover {
  background-color: #3498db;
}

.recruit-link-btn:hover,
.recruit-link-btn:hover h4 {
  color: white;
}

.recruit-link-btn i,
i.service-icon {
  font-size: 30px;
}

.cbp-item {
  height: 150px !important;
}

.desc-btn {
  width: 100%;
  height: 100%;
  display: table;
}

.desc-btn,
.desc-btn h4 {
  color: white;
}

.desc-btn .vcenter {
  display: table-cell;
  vertical-align: middle;
}

.desc-btn-deep-green {
  background-color: #1ABC9C;
}

.desc-btn-red {
  background-color: #E74C3C;
}

.desc-btn-deep-blue {
  background-color: #3498DB;
}

.desc-btn-light-blue {
  background-color: #27D7E7;
}

.desc-btn-purple {
  background-color: #9B6BCC;
}

.desc-btn-light-green {
  background-color: #72C02C;
}

/*Breadcrumbs v5
------------------------------------*/
.breadcrumb-v5 {
  padding: 20px 0;
  list-style: none;
}

.breadcrumb-v5 > li {
  color: #999;
  font-size: 18px;
  display: inline-block;
}

.breadcrumb-v5 > li + li:before {
  color: #ccc;
  content: "\f105";
  margin-left: 7px;
  padding-right: 8px;
  font-family: FontAwesome;
}

.breadcrumb-v5 li h1 {
  margin: 0;
}

.breadcrumb-v5 li a {
  color: #999;
}

.breadcrumb-v5 li i {
  margin: 0 auto;
  font-size: 18px;
}

.breadcrumb-v5 li.active,
.breadcrumb-v5 li a:hover {
  color: #18ba9b;
  text-decoration: none;
}
/* blue.css*/
/* Breadcrumb v5
------------------------------------*/
.breadcrumb-v5 li.active,
.breadcrumb-v5 li a:hover {
    color: #3498db;
}
