.cbp-l-inline
  .headline
    h2 福利厚生
  .content(style="padding: 0;")
    h4 ～ ワークライフバランスとやりがいの向上 ～
    h5 社会保険
    p &nbsp;&nbsp;健康保険、厚生年金、雇用保険、労災保険
    
    h5 定期健康診断
    p &nbsp;&nbsp;年1回の受診制度
    
    h5 子育て・介護支援
    p &nbsp;&nbsp;育児休業、介護休業制度
    
    h5 Iターン支援
    p &nbsp;&nbsp;都内に社宅を完備
    
    h5 社員交流
    p &nbsp;&nbsp;夏：BBQ大会（全社員＋家族可）、年末：忘年会（全社員）、社員誕生日会、新入社員歓迎会などを開催して、日頃は顔を合せない社員同士も、楽しく情報交換しています。
    
    .row
      .col-sm-4(style="margin-top: 20px;")
        img(src="../img/eb/life2-1.jpg")
      .col-sm-4(style="margin-top: 20px;")
        img(src="../img/eb/life2-2.jpg")
      .col-sm-4(style="margin-top: 20px;")
        img(src="../img/eb/life3-2.jpg")
