extends ../../layout

block css
  link(rel="stylesheet", href="/css/recruitment.css")

block js
  //- script(src="components/jquery/dist/jquery.js")
  //- script(src="components/bootstrap/dist/js/bootstrap.js")
  //- script(src="components/fastclick/lib/fastclick.js")
  //- script(src="components/back-to-top/index.js")
  //- script(src="components/gsap/src/minified/TweenMax.min.js")
  //- script(src="components/waypoints/waypoints.min.js")
  //- script(src="components/jpreloader/js/jpreloader.min.js")
  script(src="/js/recruitment.js")

block breadcrumbs
  .breadcrumbs
    .container
      h1.pull-left 採用情報

block content
  .container
    ul.breadcrumb-v5
      li
        a(href="/")
          i.fa.fa-home
      li
        a(href="/recruitment") 採用情報
      li.active 経験者採用


    #recruit-info
      .col-sm-5
        .service
          i.service-icon.icon-settings
          .desc
            h4.no-top-space 職種
            p PM、PL、システムエンジニア、プログラマー
        .service
          i.service-icon.icon-badge
          .desc
            h4.no-top-space 給　　与
            p スキル見込み （年収600万円～1,000万円可能）
        .service
          i.service-icon.icon-clock
          .desc
            h4.no-top-space 勤務時間
            p 9：00 ～18：00
              br
              small ※担当するお客様により変更となる場合があります。
        .service
          i.service-icon.icon-direction
          .desc
            h4.no-top-space 昇　　給
            p 年1回  （4月）
        .service
          i.service-icon.icon-trophy
          .desc
            h4.no-top-space 賞　　与
            p 年2回　（7月・1月）
        .service
          i.service-icon.icon-support
          .desc
            h4.no-top-space 社会保険
            p 雇用保険 / 健康保険 / 厚生年金 / 労災保険
        .service
          i.service-icon.icon-equalizer
          .desc
            h4.no-top-space 諸 手 当
            p 超過勤務手当（40時間のみなし残業あり）、
              br
              | 精勤手当、安全手当（※）、
              br
              | 交通費負担(月3万円まで）
              br
              small （※）安全手当：セキュリティ事故（情報漏えい、紛失など）を起こさない限り至急するもの
        .service
          i.service-icon.icon-calendar
          .desc
            h4.no-top-space 休日休暇
            p 土・日・祝日　（2016年度休日 122日）
              br
              small ※担当するお客様により変更となる可能性があります。


      .col-sm-7
        .service
          i.service-icon.icon-briefcase
          .desc
            h4.no-top-space 雇用形態
            p 正社員 （試用期間6ヶ月）、契約社員
        .service
          i.service-icon.icon-badge
          .desc
            h4.no-top-space 応募条件
            p システム開発の実務経験。言語・経験業種不問。22歳～50歳前後の方

        .service
          i.service-icon.icon-note
          .desc
            h4.no-top-space 業務内容
            p システム、アプリケーションの設計・開発
              p
                | - 大型汎用機系、Windows系、スマートフォン系
                br
                | - 金融系、製造系、流通系、官公庁の大型システム
                br
                | - 自社製品の企画・設計・開発
                br
                | - Java、VB、C、C++、ASP.NET、Oracle、SQLseverその他

        .service
          i.service-icon.icon-bubble
          .desc
            h4.no-top-space 選考方法
            p 書類選考、面接（1回）
        .service
          i.service-icon.icon-map
          .desc
            h4.no-top-space 応募方法
            .desc
              | 下記、経歴書をダウンロードし、必要事項をご記入頂き、
              a(href="mailto:saiyou@e-business.co.jp") saiyou@e-business.co.jp
              | まで送信下さい。
            .desc
              .col-sm-8.service-block.service-block-u.margin-top-20.margin-bottom-40(data-toggle="modal",data-target="#privacy-modal",role="button")
                .service-bg
                i.icon-4x.color-light.icon-line.icon-cloud-download
                h2.heading-md 履歴書ダウンロード
            .desc
              | または「
              a(href="https://tenshoku.mynavi.jp/jobinfo-199650-2-2-1/?search_tracking_id=872464257") マイナビ転職
              | 」からも応募できます。
              br
              a(href="https://tenshoku.mynavi.jp/jobinfo-199650-2-2-1/?search_tracking_id=872464257")
                img(src="/img/logos/mynavi.jpg").col-sm-12


  .container
    #privacy-modal.modal.fade.bs-example-modal-lg(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            button.close(aria-hidden='true', data-dismiss='modal', type='button') ×
            h4#myModalLabel.modal-title 個人情報に関するご通知（募集時）
          .modal-body
            .service
              i.service-icon.icon-direction
              .desc
                h4.no-top-space 利用又は提供の目的
                p 当社は、貴殿から取得した氏名、生年月日、住所等の個人に関する情報を、当社の採用活動にのみ利用する目的で取得するものであり、それ以外の目的に利用もしくは他に提供・開示することは一切ありません。
            .service
              i.service-icon.icon-speech
              .desc
                h4.no-top-space 個人情報の取扱いについて
                p 当社は、取得した貴殿の個人情報を、当社の責任のもとで適切に取扱い管理するものとし、又当社の採用活動の終了に伴い、当社の責任のもとで適切に廃棄･消去致します。
            .service
              i.service-icon.icon-shuffle
              .desc
                h4.no-top-space 個人情報の当社への提供の任意性について
                p 当社が貴殿から取得する個人情報は、当社の業務を遂行する上で必要なもののみを取得しています。したがって、貴殿が本事項に定めた個人情報の取扱いに同意されない場合は、お申込をお断りすることがあります。
            .service
              i.service-icon.icon-pencil
              .desc
                h4.no-top-space 貴方の個人情報の開示、訂正・削除について
                p 貴殿は、当社に対しご提供されたご自身の個人情報について、開示を請求することができます。又、開示の結果、ご自身の個人情報につきまして訂正・削除を請求することもできます。貴殿が弊社に対し、このような請求をされる場合は、下記の連絡先までご連絡下さい。
            .service
              i.service-icon.icon-earphones-alt
              .desc
                h4.no-top-space 連絡先
                p 個人情報の開示・訂正・削除等のご請求、その他ご上明な点につきましては下記までご連絡ください。
                ul.list-unstyled
                  li
                    i.fa.fa-check.color-green
                    |  連絡先: 株式会社イー・ビジネス
                  li
                    i.fa.fa-check.color-green
                    |  窓口担当: 花 東江
                  li
                    i.fa.fa-check.color-green
                    |  電話番号:  03-6809-3235
                  li
                    i.fa.fa-check.color-green
                    |  FAX番号:  03-6809-3238
                  li
                    i.fa.fa-check.color-green
                    |  URL: http://www.e-business.co.jp
                  li
                    i.fa.fa-check.color-green
                    |  E-Mail: katoko@e-business.co.jp
          .modal-footer
            button.btn-u.btn-u-default(data-dismiss='modal', type='button') 同意しない
            | &nbsp;
            button#btn-download-resume.btn-u(type='button') 同意
