.cbp-l-inline
    .cbp-l-inline-left
        img.cbp-l-project-img(src='assets/img/portfolio/20.jpg', alt='Dashboard')
    .cbp-l-inline-right
      .cbp-l-inline-title World Clock Widget
      .cbp-l-inline-subtitle by Paul Flavius Nechita
      .cbp-l-inline-desc
        | Minus commodi consequatur provident quae. Nihil, alias, vel consequatur ab aliquam aspernatur optio harum facilis excepturi mollitia autem voluptas cum ex veniam numquam quia repudiandae in iure. Assumenda, vel provident molestiae perferendis officia commodi asperiores earum sapiente inventore quam deleniti mollitia consequatur expedita quaerat natus praesentium beatae!
      a.cbp-l-inline-view(href='#', target='_blank') VIEW PROJECT
