.cbp-l-inline
    .headline
      h2 社員紹介

    .parallax-team.parallaxBg
      .content
        .title-box-v2
          h2 皆さんの仲間たち
        .row
          .col-md-3.col-sm-6
            .team-v2
              img.img-responsive(src="https://htmlstream.com/preview/unify-v1.9.8/assets/img/team/img1-md.jpg")
              .inner-team
                h3 社員A
                small.color-blue Developer
                p 一言
          .col-md-3.col-sm-6
            .team-v2
              img.img-responsive(src="https://htmlstream.com/preview/unify-v1.9.8/assets/img/team/img2-md.jpg")
              .inner-team
                h3 社員A
                small.color-blue Developer
                p 一言
          .col-md-3.col-sm-6
            .team-v2
              img.img-responsive(src="https://htmlstream.com/preview/unify-v1.9.8/assets/img/team/img3-md.jpg")
              .inner-team
                h3 社員A
                small.color-blue Developer
                p 一言
          .col-md-3.col-sm-6
            .team-v2
              img.img-responsive(src="https://htmlstream.com/preview/unify-v1.9.8/assets/img/team/img4-md.jpg")
              .inner-team
                h3 社員A
                small.color-blue Developer
                p 一言
          .col-md-3.col-sm-6
            .team-v2
              img.img-responsive(src="https://htmlstream.com/preview/unify-v1.9.8/assets/img/team/img5-md.jpg")
              .inner-team
                h3 社員A
                small.color-blue Developer
                p 一言
          .col-md-3.col-sm-6
            .team-v2
              img.img-responsive(src="https://htmlstream.com/preview/unify-v1.9.8/assets/img/team/img6-md.jpg")
              .inner-team
                h3 社員A
                small.color-blue Developer
                p 一言
          .col-md-3.col-sm-6
            .team-v2
              img.img-responsive(src="https://htmlstream.com/preview/unify-v1.9.8/assets/img/team/img7-md.jpg")
              .inner-team
                h3 社員A
                small.color-blue Developer
                p 一言
          .col-md-3.col-sm-6
            .team-v2
              img.img-responsive(src="https://htmlstream.com/preview/unify-v1.9.8/assets/img/team/img8-md.jpg")
              .inner-team
                h3 社員A
                small.color-blue Developer
                p 一言
