.cbp-l-inline
    .headline
      h2 新卒採用ＦＡＱ
    #graduates.panel-group.acc-v1.margin-bottom-40
      .panel.panel-default
        .panel-heading
          h4.panel-title
            a.accordion-toggle.collapsed(data-toggle="collapse" data-parent="#graduates" href="#graduates1")
              | Q 応募に当たり成績証明書、卒業見込証明書は必要ですか。
        #graduates1.panel-collapse.collapse.in(aria-expanded="true")
          .panel-body
            | A 選考が進んだ段階で必要となりますが、応募に際しては必要ありません。
      .panel.panel-default
        .panel-heading
          h4.panel-title
            a.accordion-toggle.collapsed(data-toggle="collapse" data-parent="#graduates" href="#graduates2")
              | Q 短大や専門学校を卒業予定ですが、応募できますか。
        #graduates2.panel-collapse.collapse(aria-expanded="true")
          .panel-body
            | A ご応募頂けます。
      .panel.panel-default
        .panel-heading
          h4.panel-title
            a.accordion-toggle.collapsed(data-toggle="collapse" data-parent="#graduates" href="#graduates3")
              | Q 文系ですが応募は可能ですか。
        #graduates3.panel-collapse.collapse(aria-expanded="true")
          .panel-body
            | A 可能です。プログラミングだけでなく発想力や提案力など、総合的な能力を求められるのが
            |  システムエンジニアです。研修やOJTで教育しますので安心して下さい。
      .panel.panel-default
        .panel-heading
          h4.panel-title
            a.accordion-toggle.collapsed(data-toggle="collapse" data-parent="#graduates" href="#graduates4")
              | Q 会社の寮や社宅はありますか。
        #graduates4.panel-collapse.collapse(aria-expanded="true")
          .panel-body
            | A あります。内定時に総務担当者とご相談下さい。
      .panel.panel-default
        .panel-heading
          h4.panel-title
            a.accordion-toggle.collapsed(data-toggle="collapse" data-parent="#graduates" href="#graduates5")
              | Q 選考面接の際の交通費の支給はありますか。
        #graduates5.panel-collapse.collapse(aria-expanded="true")
          .panel-body
            | A 交通費の支給はありません。
      .panel.panel-default
        .panel-heading
          h4.panel-title
            a.accordion-toggle.collapsed(data-toggle="collapse" data-parent="#graduates" href="#graduates6")
              | Q 平均年齢はいくつですか。
        #graduates6.panel-collapse.collapse(aria-expanded="true")
          .panel-body
            | A 2016年10月時点で、32.5歳です。
      .panel.panel-default
        .panel-heading
          h4.panel-title
            a.accordion-toggle.collapsed(data-toggle="collapse" data-parent="#graduates" href="#graduates7")
              | Q 女性が活躍できますか。
        #graduates7.panel-collapse.collapse(aria-expanded="true")
          .panel-body
            | A 当社の女性在職率は約3割で、SI企業としは多いと思います。
            |  役員や管理職にも女性がいます。また、産休からの職場復帰率はほぼ100％です。
    .headline
      h2 経験者採用ＦＡＱ
    #career.panel-group.acc-v1.margin-bottom-40
      .panel.panel-default
        .panel-heading
          h4.panel-title
            a.accordion-toggle.collapsed(data-toggle="collapse" data-parent="#career" href="#career1")
              | Q 未経験者ですが、応募は可能ですか。
        #career1.panel-collapse.collapse.in(aria-expanded="true")
          .panel-body
            | A 今回は経験者のみが対象です。他職種の応募については随時採用ページにてご案内します。
      .panel.panel-default
        .panel-heading
          h4.panel-title
            a.accordion-toggle.collapsed(data-toggle="collapse" data-parent="#career" href="#career2")
              | Q 異動や転勤はありますか。
        #career2.panel-collapse.collapse(aria-expanded="true")
          .panel-body
            | A 転勤はありませんが、担当する現場が変わることはあります。
            |  異動については、事業部間の異動はありますが、転居を伴うものではありません。
      .panel.panel-default
        .panel-heading
          h4.panel-title
            a.accordion-toggle.collapsed(data-toggle="collapse" data-parent="#career" href="#career3")
              | Q 採用面接について、時間外や休日の面接は行っていますか。
        #career3.panel-collapse.collapse(aria-expanded="true")
          .panel-body
            | A 時間外の面接は問題ありません。休日面接は原則的行っていませんが対応は可能です。ご相談下さい。
      .panel.panel-default
        .panel-heading
          h4.panel-title
            a.accordion-toggle.collapsed(data-toggle="collapse" data-parent="#career" href="#career4")
              | Q 現職のプロジェクトが終了するまでは転職できません。入社時期は相談可能ですか。
        #career4.panel-collapse.collapse(aria-expanded="true")
          .panel-body
            | A もちろんです。現在のプロジェクトを完遂する責任感は大切です。入社可能時期は相談しましょう。
      .panel.panel-default
        .panel-heading
          h4.panel-title
            a.accordion-toggle.collapsed(data-toggle="collapse" data-parent="#career" href="#career5")
              | Q 休日はいつですか。
        #career5.panel-collapse.collapse(aria-expanded="true")
          .panel-body
            | A 原則は土・日・祝日が休日です。2016年度は年間の休日は122日でした。
      .panel.panel-default
        .panel-heading
          h4.panel-title
            a.accordion-toggle.collapsed(data-toggle="collapse" data-parent="#career" href="#career6")
              | Q 残業時間を教えて下さい。
        #career6.panel-collapse.collapse(aria-expanded="true")
          .panel-body
            | A 平均すると月20時間前後です。
