.cbp-l-inline
  .headline
    h2 イー・ビジネスが目指す未来
  .content(style="padding: 0;")
    h4 【3年後に上場を目指す】
    p
      | イー・ビジネスは2007年に設立し、今年で満10周年を迎えました。
      | ほんの数名で立ち上げた会社は、10年間で想像もつかなかった程の成長を遂げました。
      br
      br
      | 次にイー・ビジネスが目指すものは上場です。
      br
      br
      | 「日本中から信頼される会社」、「社員が誇りを持てる会社」にするために、
      | 3年後の上場を目指して準備をしています。

    h4 【日本とアジアの架け橋になる会社を目指す】
    p
      | 2016年、日本への訪日が初めて2,000万人を突破しましたが、
      | 全体の7割以上が、中国・韓国・台湾といった東アジア諸国の観光客です。
      | また企業活動においても、日本へ進出してくるアジア系企業（特に中国）は年々増加しています。
      | 当社はこれまでも、アジア最大の市場である中国国内に向けた「越境Eコマース」やSNSを開発・提供してきましたが、
      | 今後は、日本に来る観光客や企業に向けたサービスを拡充します。
      br
      br
      | 中国・日本・韓国の文化が混在したイー・ビジネスだからできるサービスがあります。
      | 私たちは日本とアジアをITの力で結び、国と国、人と人との架け橋になりたいと考えています。
