.cbp-l-inline
  .headline
    h2 キャリア制度
  .content(style="padding: 0;")
    h4 当社は、明確な等級制度のもと、公正な昇給・公平な給与体系を実践しています。
    img(src="../img/eb/grade.svg" style="max-width: 600px;")
    h4 また、社内での技術研修会の実施、外部の資格取得奨励制度など、キャリアアップを積極的に支援しています。
