extends ../../layout

block css
  link(rel="stylesheet", href="/css/recruitment.css")

block js
  script(src="/js/recruitment.js")

block breadcrumbs
  .breadcrumbs
    .container
      h1.pull-left 採用情報

block content
  .banner
    .row
      h1 ようこそ！
      h1 イー・ビジネスの採用ページへ
      ul.list-inline.text-center
        li.recruit-link-btn#link-btn-graduates(role="button")
          i.service-icon.icon-graduation
          h4 &nbsp;新卒採用
        li.recruit-link-btn#link-btn-career(role="button")
          i.service-icon.icon-badge
          h4 &nbsp;経験者採用

  .container.content
    #grid-container.cbp-l-grid-gallery
      ul.list-unstyled
        li.cbp-item
          a(href="/recruitment/future").cbp-singlePageInline
            .service-bg
            .desc-btn.desc-btn-deep-green.text-center
              .vcenter
                i.service-icon.icon-rocket
                h4.no-top-space
                  | イー・ビジネスが
                  br
                  | 目指す未来
        li.cbp-item
          a(href="/recruitment/grade").cbp-singlePageInline
            .service-bg
            .desc-btn.desc-btn-red.text-center
              .vcenter
                i.service-icon.icon-graph
                h4.no-top-space
                  | キャリア制度
        li.cbp-item
          a(href="/recruitment/benefit").cbp-singlePageInline
            .service-bg
            .desc-btn.desc-btn-deep-blue.text-center
              .vcenter
                i.service-icon.icon-wallet
                h4.no-top-space
                  | 福利厚生
        li.cbp-item
          a(href="/recruitment/office").cbp-singlePageInline
            .service-bg
            .desc-btn.desc-btn-light-blue.text-center
              .vcenter
                i.service-icon.icon-layers
                h4.no-top-space
                  | オフィス紹介
        li.cbp-item
          a(href="/recruitment/employee").cbp-singlePageInline
            .service-bg
            .desc-btn.desc-btn-purple.text-center
              .vcenter
                i.service-icon.icon-user
                h4.no-top-space
                  | 社員紹介
        li.cbp-item
          a(href="/recruitment/faq").cbp-singlePageInline
            .service-bg
            .desc-btn.desc-btn-light-green.text-center
              .vcenter
                i.service-icon.icon-question
                h4.no-top-space
                  | 採用ＦＡＱ
