.cbp-l-inline
    .headline
      h2 私たちのオフィス
    .text-center
      | オフィスは港区芝２丁目にあり、
      | JR田町、浜松町、地下鉄・三田、大門、
      | 芝公園の各駅から通勤できる便利な立地です。
    .row.service-info
      .col-sm-6
        .service
          i.service-icon.icon-pointer
          .desc
            h4.no-top-space 所在地
            p 〒 105-0014 東京都港区芝2-28-8 芝2丁目ビル10階
            small JR山手線・京浜東北線田町駅より徒歩10分
        .service
          i.service-icon.icon-users
          .desc
            h4.no-top-space 従業員数
              span.counter 230
              | 人
            p 平成28年10月現在

        .service
          i.service-icon.icon-bar-chart
          .desc
            h4.no-top-space 直近年商
              span.counter 25
              | 億円
            p 平成27年度
        .service
          i.service-icon.icon-graph
          .desc
            h4.no-top-space 本年度売上
              span.counter 28
              | 億円
            p 平成28年度見込み
      .col-sm-6
        a.fancybox(data-fancybox="gallery", title="私たちのオフィス", href="/img/eb/kaisya2.jpg")
          img(src="/img/eb/kaisya2.jpg")

    ul.list-unstyled.row.portfolio-box-v2.no-margin-bottom
      li.col-sm-3
        a.fancybox(data-fancybox="gallery", title="受付", href="/img/eb/kaisya2.jpg")
          img(src="/img/eb/kaisya2.jpg")
          span.portfolio-box-v2-in
            i.rounded-x.icon-magnifier-add
      li.col-sm-3
        a.fancybox(data-fancybox="gallery", title="明るいオフィス内", href="/img/eb/kaisya2.jpg")
          img(src="/img/eb/kaisya2.jpg")
          span.portfolio-box-v2-in
            i.rounded-x.icon-magnifier-add
      li.col-sm-3
        a.fancybox(data-fancybox="gallery", title="多くのアイディアが生まれる会議室", href="/img/eb/kaisya2.jpg")
          img(src="/img/eb/kaisya2.jpg")
          span.portfolio-box-v2-in
            i.rounded-x.icon-magnifier-add
      li.col-sm-3
        a.fancybox(data-fancybox="gallery", title="昼食を食べたり、自由に使えるリフレッシュルーム", href="/img/eb/kaisya2.jpg")
          img(src="/img/eb/kaisya2.jpg")
          span.portfolio-box-v2-in
            i.rounded-x.icon-magnifier-add
script.
  initFancybox();
