<div class="blog_masonry_3col row" infinite-scroll="ctrl.fetch()" infinite-scroll-disabled="ctrl.isLoading">
  <div class="col-md-6" ng-repeat="inquiry in ctrl.inquiries" inquiry="inquiry">
    <div class="grid-boxes-in">
      <div class="grid-boxes-caption">
        <h3><a href="#">{{inquiry.subject}}</a></h3>
        <ul class="list-inline grid-boxes-news">
          <li><i class="fa fa-user"></i> {{inquiry.name}}</li>
          <li>|</li>
          <li><i class="fa fa-clock-o"></i> {{inquiry.createDate | date}}</li>
        </ul>
        <p>{{inquiry.message}}</p>
      </div>
    </div>
  </div>
</div>
