extends ../layout

block css
  link(rel="stylesheet", href="contact.css")

block js
  script(data-main="contact", src="components/requirejs/require.js")

block breadcrumbs
  .breadcrumbs
    .container
      h1.pull-left お問合せ

block content
  // Google Map
  #map.map
  .container.content
    .row.margin-bottom-30
      .col-md-9.mb-margin-bottom-30
        .headline
          h2 お問合せ
        p
          | お気軽に問い合わせください。
        br
        form#sky-form3.sky-form.sky-changes-3(action='assets/php/demo-contacts-process.php', method='post', novalidate='novalidate')
          fieldset
            .row
              section.col.col-6
                label.label ご氏名
                label.input
                  i.icon-append.fa.fa-user
                  input#name(type='text', name='name')
              section.col.col-6
                label.label メールアドレス
                label.input
                  i.icon-append.fa.fa-envelope-o
                  input#email(type='email', name='email')
            section
              label.label タイトル
              label.input
                i.icon-append.fa.fa-tag
                input#subject(type='text', name='subject')
            section
              label.label メーセッジ
              label.textarea
                i.icon-append.fa.fa-comment
                textarea#message(rows='4', name='message')
          footer
            button.btn-u(type='submit') 送信
          .message
            i.rounded-x.fa.fa-check
            p Your message was successfully sent!

      // /col-md-9
      .col-md-3
        // Contacts
        .headline
          h2 会社案内
        ul.list-unstyled.who.margin-bottom-30
          li
            i.fa.fa-home
            | 東京都港区芝2-28-8 芝2丁目ビル10階
          li
            i.fa.fa-envelope
            | info@e-business.co.jp
          li
            i.fa.fa-phone
            | 03-6809-3235
          li
            i.fa.fa-globe
            | http://www.e-business.co.jp
        // Business Hours
        .headline
          h2 営業時間
        ul.list-unstyled.margin-bottom-30
          li
            strong 平日:
            |  10am 〜 18pm
          li
            strong 土曜日:
            |  11am 〜 15pm
          li
            strong 日曜日:
            |  休日　

