extends ../layout

block css
  link(rel="stylesheet", href="/css/common.css")

block js
  //- script(src="components/jquery/dist/jquery.js")
  //- script(src="components/bootstrap/dist/js/bootstrap.js")
  //- script(src="components/fastclick/lib/fastclick.js")
  //- script(src="components/back-to-top/index.js")
  //- script(src="components/gsap/src/minified/TweenMax.min.js")
  //- script(src="components/jpreloader/js/jpreloader.min.js")
  script(src="js/common.js")
    
block breadcrumbs
  .breadcrumbs
    .container
      h1.pull-left 個人情報の利用目的の公表に関する事項

block content
  .container.content
    .shadow-wrapper.margin-bottom-60
      .tag-box.tag-box-v1.box-shadow.shadow-effect-2
        h4 株式会社イービジネス（以下、「当社」という）が取り扱う個人情報の利用目的は、下記の通りです。
        p 開示対象個人情報は当社に対して利用目的の通知、開示、内容の訂正、追加又は削除、利用の停止、消去及び第三者への提供の停止について、ご請求する事が出来ます。

    ol
      li 個人情報を取り扱う事業者
        p 株式会社イー・ビジネス

      li 個人情報の利用目的
        ul
          li お取引先様の個人情報
            p
              ul
                li 商談、打合せ、連絡などのため
                li 契約履行のため
                li お問合せ・ご相談対応のため
          li 取引先関係者の個人情報
            p
              ul
                li 取引に関わる連絡・商談などのため
                li 取引先情報管理のため
                li 支払いなど経理上の手続きのため
          li 採用応募者の個人情報
            p
              ul
                li 採用に関わる情報の提供・連絡のため
                li 採用業務のため
          li 退職者の個人情報
            p
              ul
                li 退職後の連絡のため
          li 従業員の個人情報
            p 
              ul
                li 人事労務管理、経理、総務等の業務遂行のため

      li 個人情報の開示・提供
        p 当社は、下記のいずれかに該当する場合を除き、個人情報を第三者に開示または提供いたしません。
          ul
            li あらかじめご本人の同意を頂いている場合
            li あらかじめご本人の同意を頂くことが困難であっても、人の生命、身体または財産の保護に必要な場合
            li 法令に基づく場合
            li 利用目的に必要な範囲内で、個人情報の取り扱いを委託する場合。
        p この場合、委託先での個人情報の取り扱いについては、当社が責任を持って適切に監督します。

      li 開示等の請求について
        p 当社で取り扱っている開示対象個人情報について、当社への個人情報の利用目的の通知、開示、内容の訂正、追加または削除、利用の停止、消去及び第三者への提供の停止を求められる場合、以下に記載してある連絡先までご連絡下さい。開示等のご請求についての手続及び対応をさせていただきます。
        ul
          li 請求窓口
            p(style='white-space:pre;') 
              | 株式会社イー・ビジネス 個人情報相談窓口
              | 住所: 東京都港区芝2-28-8芝2丁目ビル10階
              | 電話番号: 03-6809-3235
            p(style='white-space:pre;') 
              | 一般財団法人 日本情報経済社会推進協会
              | 個人情報保護苦情相談室
              | 住所：東京都港区六本木1丁目9-9 六本木ファーストビル内
              | TEL: 03-5860-7565, 0120-700-779

          li 開示等のご請求の受付
            p(style='white-space:pre;') 
              | 下記より「個人情報開示等請求書」をダウンロード下さい。必要事項をご記入頂き、本人確認書類(※1、2)を同封の上、上記請求窓口までご郵送下さい。
              | （開示請求のみ、必要書類 ＋ 手数料500円切手を同封して下さい）
              ul
                li 本人確認書類
                  p 運転免許証、パスポート、写真付き住民基本台帳、身体障害者、外国人登録証明書
                li 法定代理人が請求する場合
                  p 上記に加え、委任状 ＋ 戸籍謄本（原本、3ヶ月以内のもの）または登記事項証明書
                li 
                  a(href='/openRequest', style='color:#3498db') 個人情報開示等請求書ダウンロード

      li 当社からの通知方法
        p 「開示等への回答書」をご本人に発送します。回答は「開示請求書」受領後2週間以内を原則として、書面を郵送にてお送り致します。
