<section id="client" class="section-padding">
    <div class="container text-center">
        <h2 class="page-title">Happy <span class="text-light">Client</span></h2>
    </div>
    <div class="container">
        <div class="owl-carousel client-carousel">
            <div class="item">
                <div class="client-logo">
                    <a href="#">
                        <img src="img/logos/01.png" alt="" /></a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <a href="#">
                        <img src="img/logos/02.png" alt="" /></a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <a href="#">
                        <img src="img/logos/03.png" alt="" /></a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <a href="#">
                        <img src="img/logos/04.png" alt="" /></a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <a href="#">
                        <img src="img/logos/05.png" alt="" /></a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <a href="#">
                        <img src="img/logos/06.png" alt="" /></a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <a href="#">
                        <img src="img/logos/08.png" alt="" /></a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <a href="#">
                        <img src="img/logos/01.png" alt="" /></a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <a href="#">
                        <img src="img/logos/02.png" alt="" /></a>
                </div>
            </div>
            <div class="item">
                <div class="client-logo">
                    <a href="#">
                        <img src="img/logos/03.png" alt="" /></a>
                </div>
            </div>
        </div>
    </div>
</section>