<section id="contact-us" class="section-padding dark-bg bg-image overlay-dark60" data-background-img="img/full/20.jpg"
    data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h6 class="page-title-alt color mb-15">Wanna say hello? </h6>
                <h2 class="page-title">Get In <span class="text-light">Touch</span></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-2">

                <form id="contact" class="row contact-form" role="form">
                    <div class="col-md-12 text-center">
                        <h5 class="successContent">
                            <i class="fa fa-check left" style="color: #5cb45d;"></i>Your message has been sent
                            successfully.
                        </h5>
                        <h5 class="errorContent" style="color: #e1534f;">
                            <i class="fa fa-exclamation-circle left"></i>There was a problem validating the form please
                            check!
                        </h5>
                    </div>
                    <div class="col-md-6">
                        <div class="form-field-wrapper">
                            <input class="input-md form-full" id="form-name" type="text" name="form-name"
                                placeholder="Your Name" required />
                        </div>
                        <div class="form-field-wrapper">
                            <input class="input-md form-full" id="form-email" type="email" name="form-email"
                                placeholder="Email" required />
                        </div>
                        <div class="form-field-wrapper">
                            <input class="input-md form-full" id="form-subject" type="text" name="form-subject"
                                placeholder="Subject" />
                        </div>
                    </div>
                    <div class="col-md-6 mb-0">
                        <div class="form-field-wrapper">
                            <textarea class="input-md form-full" id="form-message" rows="7" name="form-message"
                                placeholder="Your Message" required></textarea>
                        </div>
                    </div>
                    <div class="col-md-12 text-center">
                        <button class="btn-contact-submit btn btn-md btn-color" type="submit" id="form-submit"
                            name="submit">Submit</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>