<section id="contct-info" class="section-padding">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-4 mb-sm-30 wow fadeIn" data-wow-delay="0.2s" data-wow-duration="2s">
                <div class="alt-icon-sm-top"><i class="icon icon-basic-geolocalize-05"></i></div>
                <h5 class="features-title">Address</h5>
                <p>
                    502, DieSachbearbeiter, Schönhauser Allee,<br />
                    167c10435 Berlin,Germany.
                </p>
            </div>
            <div class="col-md-4 mb-sm-30 wow fadeIn" data-wow-delay="0.4s" data-wow-duration="2s">
                <div class="alt-icon-sm-top"><i class="icon icon-basic-alarm"></i></div>
                <h5 class="features-title">office Hours</h5>
                <p>
                    Mon - Fri : 8am to 6pm<br />
                    Sat : 10am to 2pm
                </p>
            </div>
            <div class="col-md-4 mb-sm-30 wow fadeIn" data-wow-delay="0.6s" data-wow-duration="2s">
                <div class="alt-icon-sm-top"><i class="icon icon-basic-headset"></i></div>
                <h5 class="features-title">Contact</h5>
                <p class="contact-link">
                    <a href="mailto:yourname@domain.com"><span class="text-bold">Email :</span>
                        yourname@domain.com</a><br />
                    <a><span class="text-bold">Call :</span> +40 (0) 012 345 6789</a>
                </p>
            </div>
        </div>
    </div>
</section>