<section id="counter" class="section-padding bg-image overlay-dark dark-bg" data-stellar-background-ratio="0.5"
    data-background-img="img/full/14.jpg">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-3 col-sm-6 mb-sm-30">
                <div class="alt-icon-top counter-icon"><i class="icon icon-basic-cup"></i></div>
                <h1 class="counter-title counter-num">103</h1>
                <h5 class="counter-sub-title">Awwards</h5>
            </div>
            <div class="col-md-3 col-sm-6 mb-sm-30">
                <div class="alt-icon-top counter-icon"><i class="icon icon-basic-heart"></i></div>
                <h1 class="counter-title counter-num">256</h1>
                <h5 class="counter-sub-title">client</h5>
            </div>
            <div class="col-md-3 col-sm-6 mb-sm-30">
                <div class="alt-icon-top counter-icon"><i class="icon icon-basic-case"></i></div>
                <h1 class="counter-title counter-num">148</h1>
                <h5 class="counter-sub-title">Project</h5>
            </div>
            <div class="col-md-3 col-sm-6 mb-sm-30">
                <div class="alt-icon-top counter-icon"><i class="icon icon-basic-lightbulb"></i></div>
                <h1 class="counter-title counter-num">23</h1>
                <h5 class="counter-sub-title">Team</h5>
            </div>
        </div>
    </div>
</section>