
            <footer id="footer" class="footer section-padding gray-bg">
                <div class="container text-center">

                    <!--Footer Logo-->
                    <div class="footer-logo mb-25 wow fadeInUp" data-wow-duration="1.5s">
                        <a class="scroll-top" href="#intro">
                            <img src="img/logo-dark.png" alt="mazel" />
                        </a>
                    </div>
                    <!--End Footer Logo-->

                    <!-- Copyright -->
                    <p class="copyright mb-25">
                        &copy; 2015 <a><b>Mazel Template</b></a>. All Rights Reserved.<br>
                        Template by <a href="http://nileforest.com/" target="_blank"><b>nileforest</b></a>
                    </p>
                    <!-- Copyright -->

                    <!-- Social -->
                    <ul class="social">
                        <li>
                            <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus"></i></a>
                        </li>
                    </ul>
                    <!-- End Social -->

                </div>
            </footer>