<div id="header" class="header">
    <div class="header-inner">
        <!-- Logo -->
        <div class="logo">
            <a href="#">
                <img src="img/logo-light.png" />
            </a>
        </div>
        <!-- End Logo -->

        <!--Navigation Icon-->
        <div class="nav-menu-icon">
            <a><i class="fa fa-bars"></i></a>
        </div>
        <!--End Navigation Icon-->

        <!-- Navigation Menu -->
        <div class="nav-menu singlepage-nav">
            <ul class="nav-menu-inner">
                <li><a href="#intro">Home</a></li>
                <li>
                    <a href="#" class="menu-has-sub">Demos <i class="fa fa-angle-down"></i></a>
                    <ul class="sub-dropdown dropdown">
                        <li><a class="nav-external" href="index.html">Home - Main</a></li>
                        <li><a class="nav-external" href="index2-slider_vertical.html">Home - Vertical Slider</a></li>
                        <li><a class="nav-external" href="index3-slider_kenburns.html">Home - Kenburns Slider</a></li>
                        <li><a class="nav-external" href="index4-static.html">Home - Static</a></li>
                        <li><a class="nav-external" href="index5-static_parallax.html">Home - Parallax</a></li>
                        <li><a class="nav-external" href="index6-text_rotator1.html">Home - Text Rotator 1</a></li>
                        <li><a class="nav-external" href="index7-text_rotator2.html">Home - Text Rotator 2</a></li>
                        <li><a class="nav-external" href="index8-video_youtube.html">Home - Video Bg</a></li>
                        <li><a class="nav-external" href="index9-text_slider.html">Home - Text Slider</a></li>
                        <li><a class="nav-external" href="index10-bg_slideshow.html">Home - Bg Slideshow</a></li>
                        <li><a class="nav-external" href="index11-coming_soon.html">Home - Coming Soon Page</a></li>
                        <li>
                            <a class="menu-has-sub nav-external">Sub Dropdown<i class="fa fa-angle-right"></i></a>
                            <ul class="sub-dropdown">
                                <li><a class="nav-external" href="#">Sub Menu 1</a></li>
                                <li><a class="nav-external" href="#">Sub Menu 2</a></li>
                                <li><a class="nav-external" href="#">Sub Menu 3</a></li>
                                <li><a class="nav-external" href="#">Sub Menu 4</a></li>
                                <li><a class="nav-external" href="#">Sub Menu 5</a></li>
                            </ul>
                        </li>

                    </ul>
                </li>
                <li><a href="#about">About</a></li>
                <li><a href="#latest-work">Work</a></li>
                <li><a href="#service">Service</a></li>
                <li><a href="#pricing">Pricing</a></li>
                <li><a href="#client">Client</a></li>
                <li><a href="#elements">Elements</a></li>
                <li><a href="#contact-us">Contact</a></li>
            </ul>
        </div>
        <!-- End Navigation Menu -->
    </div>
</div>