<section id="intro">
    <!--Slider Hero-->
    <div class="tp-banner-container">
        <div class="intro-tp-banner">
            <ul>
                <!-- SLIDE  -->
                <li class="dark-bg" data-transition="fade" data-slotamount="5" data-masterspeed="700">
                    <!-- MAIN IMAGE -->
                    <img src="img/full/28.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="top center"
                        data-bgrepeat="no-repeat">

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption lfb ltt tp-resizeme" data-x="center" data-hoffset="0" data-y="center"
                        data-voffset="-125" data-speed="600" data-start="500" data-easing="Power4.easeOut"
                        data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1"
                        data-endspeed="500" data-endeasing="Power4.easeIn"
                        style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
                        <img src="img/t-logo1.png" alt="logo" />

                    </div>

                    <!-- LAYER NR. 2 -->
                    <h2 class="tp-caption lfb ltt tp-resizeme sc-title" data-x="center" data-hoffset="0" data-y="center"
                        data-voffset="-25" data-speed="600" data-start="700" data-easing="Power4.easeOut"
                        data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1"
                        data-endspeed="500" data-endeasing="Power4.easeIn"
                        style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">We Are Mazel One
                    </h2>

                    <!-- LAYER NR. 3 -->
                    <p class="tp-caption lfb ltt tp-resizeme sc-paragraph-lead" data-x="center" data-hoffset="0"
                        data-y="center" data-voffset="40" data-speed="600" data-start="900" data-easing="Power4.easeOut"
                        data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1"
                        data-endspeed="500" data-endeasing="Power4.easeIn"
                        style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
                        A donec sodales sagittis magna. Sed consequat, leo eget bibendum amet nibh<br />
                        sodales augue velit cursus nunc.
                    </p>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption lfb ltt tp-resizeme sc-button" data-x="center" data-hoffset="0"
                        data-y="center" data-voffset="125" data-speed="600" data-start="1100"
                        data-easing="Power4.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.01"
                        data-endelementdelay="0.1" data-endspeed="500" data-endeasing="Power4.easeIn"
                        style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
                        <a class="btn btn-md btn-black">Shop Now</a>
                    </div>

                </li>

                <!-- SLIDE  -->
                <li class="dark-bg" data-transition="fade" data-slotamount="5" data-masterspeed="700">
                    <!-- MAIN IMAGE -->
                    <img src="img/full/30.jpg" alt="slidebg2" data-bgfit="cover" data-bgposition="top center"
                        data-bgrepeat="no-repeat">

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption lfb ltt tp-resizeme" data-x="center" data-hoffset="0" data-y="center"
                        data-voffset="-125" data-speed="600" data-start="500" data-easing="Power4.easeOut"
                        data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1"
                        data-endspeed="500" data-endeasing="Power4.easeIn"
                        style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
                        <img src="img/t-logo1.png" alt="logo" />

                    </div>

                    <!-- LAYER NR. 2 -->
                    <h2 class="tp-caption lfb ltt tp-resizeme sc-title" data-x="center" data-hoffset="0" data-y="center"
                        data-voffset="-25" data-speed="600" data-start="700" data-easing="Power4.easeOut"
                        data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1"
                        data-endspeed="500" data-endeasing="Power4.easeIn"
                        style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">Flexible &
                        Customizable
                    </h2>

                    <!-- LAYER NR. 3 -->
                    <p class="tp-caption lfb ltt tp-resizeme sc-paragraph-lead" data-x="center" data-hoffset="0"
                        data-y="center" data-voffset="40" data-speed="600" data-start="900" data-easing="Power4.easeOut"
                        data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1"
                        data-endspeed="500" data-endeasing="Power4.easeIn"
                        style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
                        A donec sodales sagittis magna. Sed consequat, leo eget bibendum amet nibh<br />
                        sodales augue velit cursus nunc.
                    </p>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption lfb ltt tp-resizeme sc-button" data-x="center" data-hoffset="0"
                        data-y="center" data-voffset="125" data-speed="600" data-start="1100"
                        data-easing="Power4.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.01"
                        data-endelementdelay="0.1" data-endspeed="500" data-endeasing="Power4.easeIn"
                        style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
                        <a class="btn btn-md btn-black">Shop Now</a>
                    </div>

                </li>

                <!-- SLIDE  -->
                <li class="dark-bg" data-transition="fade" data-slotamount="5" data-masterspeed="700">
                    <!-- MAIN IMAGE -->
                    <img src="img/full/31.jpg" alt="slidebg3" data-bgfit="cover" data-bgposition="top center"
                        data-bgrepeat="no-repeat">

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption lfb ltt tp-resizeme" data-x="center" data-hoffset="0" data-y="center"
                        data-voffset="-125" data-speed="600" data-start="500" data-easing="Power4.easeOut"
                        data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1"
                        data-endspeed="500" data-endeasing="Power4.easeIn"
                        style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
                        <img src="img/t-logo1.png" alt="logo" />

                    </div>

                    <!-- LAYER NR. 2 -->
                    <h2 class="tp-caption lfb ltt tp-resizeme sc-title" data-x="center" data-hoffset="0" data-y="center"
                        data-voffset="-25" data-speed="600" data-start="700" data-easing="Power4.easeOut"
                        data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1"
                        data-endspeed="500" data-endeasing="Power4.easeIn"
                        style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">I Am a John Doe
                    </h2>

                    <!-- LAYER NR. 3 -->
                    <p class="tp-caption lfb ltt tp-resizeme sc-paragraph-lead" data-x="center" data-hoffset="0"
                        data-y="center" data-voffset="40" data-speed="600" data-start="900" data-easing="Power4.easeOut"
                        data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1"
                        data-endspeed="500" data-endeasing="Power4.easeIn"
                        style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
                        A donec sodales sagittis magna. Sed consequat, leo eget bibendum amet nibh<br />
                        sodales augue velit cursus nunc.
                    </p>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption lfb ltt tp-resizeme sc-button" data-x="center" data-hoffset="0"
                        data-y="center" data-voffset="125" data-speed="600" data-start="1100"
                        data-easing="Power4.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.01"
                        data-endelementdelay="0.1" data-endspeed="500" data-endeasing="Power4.easeIn"
                        style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
                        <a class="btn btn-md btn-black">Shop Now</a>
                    </div>

                </li>

                <!-- SLIDE  -->
                <li class="dark-bg" data-transition="fade" data-slotamount="5" data-masterspeed="700">
                    <!-- MAIN IMAGE -->
                    <img src="img/full/32.jpg" alt="slidebg4" data-bgfit="cover" data-bgposition="top center"
                        data-bgrepeat="no-repeat">

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption lfb ltt tp-resizeme" data-x="center" data-hoffset="0" data-y="center"
                        data-voffset="-125" data-speed="600" data-start="500" data-easing="Power4.easeOut"
                        data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1"
                        data-endspeed="500" data-endeasing="Power4.easeIn"
                        style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
                        <img src="img/t-logo1.png" alt="logo" />

                    </div>

                    <!-- LAYER NR. 2 -->
                    <h2 class="tp-caption lfb ltt tp-resizeme sc-title" data-x="center" data-hoffset="0" data-y="center"
                        data-voffset="-25" data-speed="600" data-start="700" data-easing="Power4.easeOut"
                        data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1"
                        data-endspeed="500" data-endeasing="Power4.easeIn"
                        style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">Welcome Studio
                    </h2>

                    <!-- LAYER NR. 3 -->
                    <p class="tp-caption lfb ltt tp-resizeme sc-paragraph-lead" data-x="center" data-hoffset="0"
                        data-y="center" data-voffset="40" data-speed="600" data-start="900" data-easing="Power4.easeOut"
                        data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1"
                        data-endspeed="500" data-endeasing="Power4.easeIn"
                        style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
                        A donec sodales sagittis magna. Sed consequat, leo eget bibendum amet nibh<br />
                        sodales augue velit cursus nunc.
                    </p>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption lfb ltt tp-resizeme sc-button" data-x="center" data-hoffset="0"
                        data-y="center" data-voffset="125" data-speed="600" data-start="1100"
                        data-easing="Power4.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.01"
                        data-endelementdelay="0.1" data-endspeed="500" data-endeasing="Power4.easeIn"
                        style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
                        <a class="btn btn-md btn-black">Shop Now</a>
                    </div>

                </li>

                <!-- SLIDE  -->
                <li class="dark-bg" data-transition="fade" data-slotamount="5" data-masterspeed="700">
                    <!-- MAIN IMAGE -->
                    <img src="img/full/35.jpg" alt="slidebg5" data-bgfit="cover" data-bgposition="top center"
                        data-bgrepeat="no-repeat">

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption lfb ltt tp-resizeme" data-x="center" data-hoffset="0" data-y="center"
                        data-voffset="-125" data-speed="600" data-start="500" data-easing="Power4.easeOut"
                        data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1"
                        data-endspeed="500" data-endeasing="Power4.easeIn"
                        style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
                        <img src="img/t-logo1.png" alt="logo" />

                    </div>

                    <!-- LAYER NR. 2 -->
                    <h2 class="tp-caption lfb ltt tp-resizeme sc-title" data-x="center" data-hoffset="0" data-y="center"
                        data-voffset="-25" data-speed="600" data-start="700" data-easing="Power4.easeOut"
                        data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1"
                        data-endspeed="500" data-endeasing="Power4.easeIn"
                        style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">I Am a John Doe
                    </h2>

                    <!-- LAYER NR. 3 -->
                    <p class="tp-caption lfb ltt tp-resizeme sc-paragraph-lead" data-x="center" data-hoffset="0"
                        data-y="center" data-voffset="40" data-speed="600" data-start="900" data-easing="Power4.easeOut"
                        data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1"
                        data-endspeed="500" data-endeasing="Power4.easeIn"
                        style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
                        A donec sodales sagittis magna. Sed consequat, leo eget bibendum amet nibh<br />
                        sodales augue velit cursus nunc.
                    </p>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption lfb ltt tp-resizeme sc-button" data-x="center" data-hoffset="0"
                        data-y="center" data-voffset="125" data-speed="600" data-start="1100"
                        data-easing="Power4.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.01"
                        data-endelementdelay="0.1" data-endspeed="500" data-endeasing="Power4.easeIn"
                        style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
                        <a class="btn btn-md btn-black">Shop Now</a>
                    </div>

                </li>


            </ul>
            <div class="tp-bannertimer"></div>
        </div>
    </div>
    <!-- End Slider Hero-->

</section>