<section id="latest-work" class="section-padding">
    <div class="container text-center">
        <h2 class="page-title">Latest <span class="text-light">Work</span></h2>
    </div>
    <div class="owl-carousel content-carousel content-slider">
        <div class="item">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mb-sm-30">
                        <img src="img/mockup01.png" alt="" />
                    </div>
                    <div class="col-md-5 offset-md-1">
                        <h4 class="content-title">Project name & Title</h4>
                        <p>Cras dapibus Vivamus elementum semper nisi Aenean vulputate eleifend tellus Aenean leo
                            ligula, porttitor eu consequat vitae Phasellus viverra nulla ut metus varius laoreet.</p>
                        <ul class="list-inside">
                            <li>Branding Design</li>
                            <li>Web Design</li>
                        </ul>
                        <a target="_blank" href="http://google.com/" class="btn btn-md btn-black">Visit Site <i
                                class="fa fa-external-link right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 mb-sm-30">
                        <h4 class="content-title">Project name & Title</h4>
                        <p>Cras dapibus Vivamus elementum semper nisi Aenean vulputate eleifend tellus Aenean leo
                            ligula, porttitor eu consequat vitae Phasellus viverra nulla ut metus varius laoreet.</p>
                        <ul class="list-inside">
                            <li>Fully Responsive</li>
                            <li>Web Design</li>
                        </ul>
                        <a target="_blank" href="http://google.com/" class="btn btn-md btn-black">Visit Site <i
                                class="fa fa-external-link right"></i></a>
                    </div>
                    <div class="col-md-6 offset-md-1">
                        <img src="img/mockup01.png" alt="" />
                    </div>

                </div>
            </div>
        </div>
        <div class="item">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mb-sm-30">
                        <img src="img/mockup01.png" alt="" />
                    </div>
                    <div class="col-md-5 offset-md-1">
                        <h4 class="content-title">Fully Responsive</h4>
                        <p>Cras dapibus Vivamus elementum semper nisi Aenean vulputate eleifend tellus Aenean leo
                            ligula, porttitor eu consequat vitae Phasellus viverra nulla ut metus varius laoreet.</p>
                        <p>porttitor eu consequat vitae Phasellus viverra nulla ut metus varius laoreet</p>
                        <div class="spacer-15"></div>
                        <a target="_blank" href="http://google.com/" class="btn btn-md btn-black">Visit Site <i
                                class="fa fa-external-link right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>