<section id="portfolio" class="section-padding-t gray-bg">
    <div class="container text-center">
        <h2>Our <span class="text-light">Portfolio</span></h2>
    </div>
    <div class="container-fluid">
        <div class="row">
            <ul class="col portfolio-filter categories-filter">
                <li><a class="categories active" data-filter="*">All</a></li>
                <li><a class="categories" data-filter=".branding">Branding</a></li>
                <li><a class="categories" data-filter=".creative">Creative</a></li>
                <li><a class="categories" data-filter=".photography">Photography</a></li>
                <li><a class="categories" data-filter=".coffee">coffee</a></li>
            </ul>

        </div>
        <div class="portfolio-grid-fit row gallery-popup">
            <!------->
            <div class="portfolio-item branding photography coffee">
                <div class="portfolio-box">
                    <a class="portfolio-image-wrap">
                        <img src="img/portfolio/thumb/01.jpg" alt="" /></a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-tb">
                            <div class="portfolio-caption-tb-cell">
                                <h5>Digital Camera mockup</h5>
                                <p>Mockup - Photography - Graphic - Branding</p>
                                <ul class="portfolio-btn-wraper">
                                    <li>
                                        <a class="gallery-popup-link btn btn-color" href="img/portfolio/large/01.jpg"
                                            title="Portfolio Image 01"><i class="fa fa-search"></i></a>
                                    </li>
                                    <li>
                                        <a class="btn btn-black" target="_blank" href="https://www.dribbble.com/"><i
                                                class="fa fa-dribbble"></i></a>
                                    </li>
                                    <li>
                                        <a class="btn btn-black" target="_blank" href="https://www.pinterest.com/"><i
                                                class="fa fa-pinterest"></i></a>
                                    </li>
                                    <li>
                                        <a class="btn btn-black" target="_blank" href="https://www.behance.net/"><i
                                                class="fa fa-behance"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!------->
            <div class="portfolio-item">
                <div class="portfolio-box">
                    <a class="portfolio-image-wrap">
                        <img src="img/portfolio/thumb/02.jpg" alt="" /></a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-tb">
                            <div class="portfolio-caption-tb-cell">
                                <h5>Digital Camera mockup</h5>
                                <p>Mockup - Photography - Graphic - Branding</p>
                                <ul class="portfolio-btn-wraper">
                                    <li>
                                        <a class="gallery-popup-link btn btn-color" href="img/portfolio/large/02.jpg"
                                            title="Portfolio Image 02"><i class="fa fa-search"></i></a>
                                    </li>
                                    <li>
                                        <a class="btn btn-black" target="_blank" href="https://www.dribbble.com/"><i
                                                class="fa fa-dribbble"></i></a>
                                    </li>
                                    <li>
                                        <a class="btn btn-black" target="_blank" href="https://www.pinterest.com/"><i
                                                class="fa fa-pinterest"></i></a>
                                    </li>
                                    <li>
                                        <a class="btn btn-black" target="_blank" href="https://www.behance.net/"><i
                                                class="fa fa-behance"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!------->
            <div class="portfolio-item branding photography">
                <div class="portfolio-box">
                    <a class="portfolio-image-wrap">
                        <img src="img/portfolio/thumb/03.jpg" alt="" /></a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-tb">
                            <div class="portfolio-caption-tb-cell">
                                <h5>Digital Camera mockup</h5>
                                <p>Mockup - Photography - Graphic - Branding</p>
                                <ul class="portfolio-btn-wraper">
                                    <li>
                                        <a class="gallery-popup-link btn btn-color" href="img/portfolio/large/03.jpg"
                                            title="Portfolio Image 03"><i class="fa fa-search"></i></a>
                                    </li>
                                    <li>
                                        <a class="btn btn-black" target="_blank" href="https://www.dribbble.com/"><i
                                                class="fa fa-dribbble"></i></a>
                                    </li>
                                    <li>
                                        <a class="btn btn-black" target="_blank" href="https://www.pinterest.com/"><i
                                                class="fa fa-pinterest"></i></a>
                                    </li>
                                    <li>
                                        <a class="btn btn-black" target="_blank" href="https://www.behance.net/"><i
                                                class="fa fa-behance"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!------->
            <div class="portfolio-item creative">
                <div class="portfolio-box">
                    <a class="portfolio-image-wrap">
                        <img src="img/portfolio/thumb/04.jpg" alt="" /></a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-tb">
                            <div class="portfolio-caption-tb-cell">
                                <h5>Digital Camera mockup</h5>
                                <p>Mockup - Photography - Graphic - Branding</p>
                                <ul class="portfolio-btn-wraper">
                                    <li>
                                        <a class="gallery-popup-link btn btn-color" href="img/portfolio/large/04.jpg"
                                            title="Portfolio Image 04"><i class="fa fa-search"></i></a>
                                    </li>
                                    <li>
                                        <a class="btn btn-black" target="_blank" href="https://www.dribbble.com/"><i
                                                class="fa fa-dribbble"></i></a>
                                    </li>
                                    <li>
                                        <a class="btn btn-black" target="_blank" href="https://www.pinterest.com/"><i
                                                class="fa fa-pinterest"></i></a>
                                    </li>
                                    <li>
                                        <a class="btn btn-black" target="_blank" href="https://www.behance.net/"><i
                                                class="fa fa-behance"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!------->
            <div class="portfolio-item creative">
                <div class="portfolio-box">
                    <a class="portfolio-image-wrap">
                        <img src="img/portfolio/thumb/05.jpg" alt="" /></a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-tb">
                            <div class="portfolio-caption-tb-cell">
                                <h5>Digital Camera mockup</h5>
                                <p>Mockup - Photography - Graphic - Branding</p>
                                <ul class="portfolio-btn-wraper">
                                    <li>
                                        <a class="gallery-popup-link btn btn-color" href="img/portfolio/large/05.jpg"
                                            title="Portfolio Image 05"><i class="fa fa-search"></i></a>
                                    </li>
                                    <li>
                                        <a class="btn btn-black" target="_blank" href="https://www.dribbble.com/"><i
                                                class="fa fa-dribbble"></i></a>
                                    </li>
                                    <li>
                                        <a class="btn btn-black" target="_blank" href="https://www.pinterest.com/"><i
                                                class="fa fa-pinterest"></i></a>
                                    </li>
                                    <li>
                                        <a class="btn btn-black" target="_blank" href="https://www.behance.net/"><i
                                                class="fa fa-behance"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!------->
            <div class="portfolio-item branding photography">
                <div class="portfolio-box">
                    <a class="portfolio-image-wrap">
                        <img src="img/portfolio/thumb/06.jpg" alt="" /></a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-tb">
                            <div class="portfolio-caption-tb-cell">
                                <h5>Digital Camera mockup</h5>
                                <p>Mockup - Photography - Graphic - Branding</p>
                                <ul class="portfolio-btn-wraper">
                                    <li>
                                        <a class="gallery-popup-link btn btn-color" href="img/portfolio/large/06.jpg"
                                            title="Portfolio Image 06"><i class="fa fa-search"></i></a>
                                    </li>
                                    <li>
                                        <a class="btn btn-black" target="_blank" href="https://www.dribbble.com/"><i
                                                class="fa fa-dribbble"></i></a>
                                    </li>
                                    <li>
                                        <a class="btn btn-black" target="_blank" href="https://www.pinterest.com/"><i
                                                class="fa fa-pinterest"></i></a>
                                    </li>
                                    <li>
                                        <a class="btn btn-black" target="_blank" href="https://www.behance.net/"><i
                                                class="fa fa-behance"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!------->
            <div class="portfolio-item branding creative coffee">
                <div class="portfolio-box">
                    <a class="portfolio-image-wrap">
                        <img src="img/portfolio/thumb/07.jpg" alt="" /></a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-tb">
                            <div class="portfolio-caption-tb-cell">
                                <h5>Digital Camera mockup</h5>
                                <p>Mockup - Photography - Graphic - Branding</p>
                                <ul class="portfolio-btn-wraper">
                                    <li>
                                        <a class="gallery-popup-link btn btn-color" href="img/portfolio/large/07.jpg"
                                            title="Portfolio Image 07"><i class="fa fa-search"></i></a>
                                    </li>
                                    <li>
                                        <a class="btn btn-black" target="_blank" href="https://www.dribbble.com/"><i
                                                class="fa fa-dribbble"></i></a>
                                    </li>
                                    <li>
                                        <a class="btn btn-black" target="_blank" href="https://www.pinterest.com/"><i
                                                class="fa fa-pinterest"></i></a>
                                    </li>
                                    <li>
                                        <a class="btn btn-black" target="_blank" href="https://www.behance.net/"><i
                                                class="fa fa-behance"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!------->
            <div class="portfolio-item photography">
                <div class="portfolio-box">
                    <a class="portfolio-image-wrap">
                        <img src="img/portfolio/thumb/08.jpg" alt="" /></a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-tb">
                            <div class="portfolio-caption-tb-cell">
                                <h5>Digital Camera mockup</h5>
                                <p>Mockup - Photography - Graphic - Branding</p>
                                <ul class="portfolio-btn-wraper">
                                    <li>
                                        <a class="gallery-popup-link btn btn-color" href="img/portfolio/large/08.jpg"
                                            title="Portfolio Image 08"><i class="fa fa-search"></i></a>
                                    </li>
                                    <li>
                                        <a class="btn btn-black" target="_blank" href="https://www.dribbble.com/"><i
                                                class="fa fa-dribbble"></i></a>
                                    </li>
                                    <li>
                                        <a class="btn btn-black" target="_blank" href="https://www.pinterest.com/"><i
                                                class="fa fa-pinterest"></i></a>
                                    </li>
                                    <li>
                                        <a class="btn btn-black" target="_blank" href="https://www.behance.net/"><i
                                                class="fa fa-behance"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!------->

        </div>
    </div>
</section>