<section id="pricing" class="section-padding">
    <div class="container text-center">
        <h2 class="page-title">Pricing <span class="text-light">Table</span></h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-sm-30 wow fadeIn" data-wow-delay="0.2s" data-wow-duration="2s">
                <div class="pricing-box">
                    <div class="pricing-title pricing-padding-t">
                        <h4>Regular</h4>
                    </div>
                    <div class="pricing-price pricing-padding">
                        <p><span class="dollar">$</span><span class="pricing-price-lg">49</span><span
                                class="pricing-price-sm">/ month</span></p>
                    </div>
                    <div class="pricing-features">
                        <ul>
                            <li>Full Access</li>
                            <li>1 Domain <strong>Free</strong></li>
                            <li>Source Files</li>
                            <li><strong>50 User Accounts</strong></li>
                            <li>6 Month License</li>
                            <li>Premium Support</li>
                        </ul>
                    </div>
                    <div class="pricing-button pricing-padding">
                        <a class="btn btn-md btn-black" href="http://google.com/" target="_blank"><i
                                class="fa fa-user left"></i>Sign Up</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-sm-30 wow fadeIn" data-wow-delay="0.4s" data-wow-duration="2s">
                <div class="pricing-box highlight">
                    <div class="pricing-title pricing-padding-t">
                        <h4>Standard</h4>
                    </div>
                    <div class="pricing-price pricing-padding">
                        <p><span class="dollar">$</span><span class="pricing-price-lg color">99</span><span
                                class="pricing-price-sm">/ month</span></p>
                    </div>
                    <div class="pricing-features">
                        <ul>
                            <li>Full Access</li>
                            <li>10 Domain <strong>Free</strong></li>
                            <li>Source Files</li>
                            <li><strong>500 User Accounts</strong></li>
                            <li>6 Month License</li>
                            <li>Premium Support</li>
                        </ul>
                    </div>
                    <div class="pricing-button pricing-padding">
                        <a class="btn btn-md btn-color" href="http://google.com/" target="_blank"><i
                                class="fa fa-user left"></i>Sign Up</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-sm-30 wow fadeIn" data-wow-delay="0.6s" data-wow-duration="2s">
                <div class="pricing-box">
                    <div class="pricing-title pricing-padding-t">
                        <h4>Advanced</h4>
                    </div>
                    <div class="pricing-price pricing-padding">
                        <p><span class="dollar">$</span><span class="pricing-price-lg">199</span><span
                                class="pricing-price-sm">/ month</span></p>
                    </div>
                    <div class="pricing-features">
                        <ul>
                            <li>Full Access</li>
                            <li>100 Domain <strong>Free</strong></li>
                            <li>Source Files</li>
                            <li><strong>5000 User Accounts</strong></li>
                            <li>6 Month License</li>
                            <li>Free Support</li>
                        </ul>
                    </div>
                    <div class="pricing-button pricing-padding">
                        <a class="btn btn-md btn-black" href="http://google.com/" target="_blank"><i
                                class="fa fa-user left"></i>Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>