<section id="process" class="section-padding">
    <div class="container text-center">
        <h2 class="page-title">Work <span class="text-light">Process</span></h2>
    </div>
    <div class="container text-center">
        <div class="row">
            <div class="process-box col-lg-2 col-md-4 col-sm-6 col-12 wow fadeIn" data-wow-delay="0.2s"
                data-wow-duration="2s">
                <div class="tipped" data-title="Step1 - Skype Interview" data-tipper-options='{"direction":"top"}'>
                    <div class="process-icon alt-icon-top"><i class="icon icon-basic-headset"></i></div>
                    <h6>Interview</h6>
                </div>
            </div>
            <div class="process-box col-lg-2 col-md-4 col-sm-6 col-12 wow fadeIn" data-wow-delay="0.4s"
                data-wow-duration="2s">
                <div class="tipped" data-title="Step2 - Project Plan" data-tipper-options='{"direction":"top"}'>
                    <div class="process-icon alt-icon-top"><i class="icon icon-basic-book-pencil"></i></div>
                    <h6>Plan</h6>
                </div>
            </div>
            <div class="process-box col-lg-2 col-md-4 col-sm-6 col-12 wow fadeIn" data-wow-delay="0.6s"
                data-wow-duration="2s">
                <div class="tipped" data-title="Step3 - Design" data-tipper-options='{"direction":"top"}'>
                    <div class="process-icon alt-icon-top"><i class="icon icon-basic-picture-multiple"></i></div>
                    <h6>Design</h6>
                </div>
            </div>
            <div class="process-box col-lg-2 col-md-4 col-sm-6 col-12 wow fadeIn" data-wow-delay="0.8s"
                data-wow-duration="2s">
                <div class="tipped" data-title="Step4 - Development" data-tipper-options='{"direction":"top"}'>
                    <div class="process-icon alt-icon-top"><i class="icon icon-basic-gear"></i></div>
                    <h6>Development</h6>
                </div>
            </div>
            <div class="process-box col-lg-2 col-md-4 col-sm-6 col-12 wow fadeIn" data-wow-delay="1s"
                data-wow-duration="2s">
                <div class="tipped" data-title="Step5 - Testing" data-tipper-options='{"direction":"top"}'>
                    <div class="process-icon alt-icon-top"><i class="icon icon-ecommerce-graph3"></i></div>
                    <h6>Testing</h6>
                </div>
            </div>
            <div class="process-box col-lg-2 col-md-4 col-sm-6 col-12 wow fadeIn" data-wow-delay="1.2s"
                data-wow-duration="2s">
                <div class="tipped" data-title="Step6 - Delivery" data-tipper-options='{"direction":"top"}'>
                    <div class="process-icon alt-icon-top"><i class="icon icon-basic-anticlockwise"></i></div>
                    <h6>Delivery</h6>
                </div>
            </div>
        </div>
    </div>
</section>