<section id="team-people" class="section-padding text-center">
    <div class="container">
        <h2 class="page-title">Our <span class="text-light">Team</span></h2>
    </div>
    <div class="container">
        <div class="row">
            <!--Team Carousel -->
            <div class="owl-carousel team-carousel nf-carousel-theme">

                <div class="item">
                    <div class="team-item">
                        <div class="team-item-img">
                            <img src="img/team/01.jpg" alt="" />
                            <div class="team-item-detail">
                                <div class="team-item-detail-inner light-color">
                                    <h5>Mitchell KAPPOS</h5>
                                    <p>To portal for some of the world's most high-value net.</p>
                                    <ul class="social">
                                        <li><a href="https://www.facebook.com/" target="_blank"><i
                                                    class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://www.twitter.com/" target="_blank"><i
                                                    class="fa fa-twitter"></i></a></li>
                                        <li><a href="https://www.dribbble.com/" target="_blank"><i
                                                    class="fa fa-dribbble"></i></a></li>
                                        <li><a href="https://www.pinterest.com/" target="_blank"><i
                                                    class="fa fa-pinterest"></i></a></li>
                                        <li><a href="https://www.behance.net/" target="_blank"><i
                                                    class="fa fa-behance"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="team-item-info">
                            <h6>Mitchell KAPPOS</h6>
                            <p class="">( Graphic Designer )</p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="team-item">
                        <div class="team-item-img">
                            <img src="img/team/03.jpg" alt="" />
                            <div class="team-item-detail">
                                <div class="team-item-detail-inner light-color">
                                    <h5>Leonardo da Vinci</h5>
                                    <p>To portal for some of the world's most high-value net.</p>
                                    <ul class="social">
                                        <li><a href="https://www.facebook.com/" target="_blank"><i
                                                    class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://www.twitter.com/" target="_blank"><i
                                                    class="fa fa-twitter"></i></a></li>
                                        <li><a href="https://www.dribbble.com/" target="_blank"><i
                                                    class="fa fa-dribbble"></i></a></li>
                                        <li><a href="https://www.pinterest.com/" target="_blank"><i
                                                    class="fa fa-pinterest"></i></a></li>
                                        <li><a href="https://www.behance.net/" target="_blank"><i
                                                    class="fa fa-behance"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="team-item-info">
                            <h6>Leonardo da Vinci</h6>
                            <p class="">( Front-End Dev )</p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="team-item">
                        <div class="team-item-img">
                            <img src="img/team/07.jpg" alt="" />
                            <div class="team-item-detail">
                                <div class="team-item-detail-inner light-color">
                                    <h5>John Doe</h5>
                                    <p>To portal for some of the world's most high-value net.</p>
                                    <ul class="social">
                                        <li><a href="https://www.facebook.com/" target="_blank"><i
                                                    class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://www.twitter.com/" target="_blank"><i
                                                    class="fa fa-twitter"></i></a></li>
                                        <li><a href="https://www.dribbble.com/" target="_blank"><i
                                                    class="fa fa-dribbble"></i></a></li>
                                        <li><a href="https://www.pinterest.com/" target="_blank"><i
                                                    class="fa fa-pinterest"></i></a></li>
                                        <li><a href="https://www.behance.net/" target="_blank"><i
                                                    class="fa fa-behance"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="team-item-info">
                            <h6>John Doe</h6>
                            <p class="">( Project Manager )</p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="team-item">
                        <div class="team-item-img">
                            <img src="img/team/04.jpg" alt="" />
                            <div class="team-item-detail">
                                <div class="team-item-detail-inner light-color">
                                    <h5>Michael Lee</h5>
                                    <p>To portal for some of the world's most high-value net.</p>
                                    <ul class="social">
                                        <li><a href="https://www.facebook.com/" target="_blank"><i
                                                    class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://www.twitter.com/" target="_blank"><i
                                                    class="fa fa-twitter"></i></a></li>
                                        <li><a href="https://www.dribbble.com/" target="_blank"><i
                                                    class="fa fa-dribbble"></i></a></li>
                                        <li><a href="https://www.pinterest.com/" target="_blank"><i
                                                    class="fa fa-pinterest"></i></a></li>
                                        <li><a href="https://www.behance.net/" target="_blank"><i
                                                    class="fa fa-behance"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="team-item-info">
                            <h6>Michael Lee</h6>
                            <p class="">( Web Developer )</p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="team-item">
                        <div class="team-item-img">
                            <img src="img/team/02.jpg" alt="" />
                            <div class="team-item-detail">
                                <div class="team-item-detail-inner light-color">
                                    <h5>Michael Lee</h5>
                                    <p>To portal for some of the world's most high-value net.</p>
                                    <ul class="social">
                                        <li><a href="https://www.facebook.com/" target="_blank"><i
                                                    class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://www.twitter.com/" target="_blank"><i
                                                    class="fa fa-twitter"></i></a></li>
                                        <li><a href="https://www.dribbble.com/" target="_blank"><i
                                                    class="fa fa-dribbble"></i></a></li>
                                        <li><a href="https://www.pinterest.com/" target="_blank"><i
                                                    class="fa fa-pinterest"></i></a></li>
                                        <li><a href="https://www.behance.net/" target="_blank"><i
                                                    class="fa fa-behance"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="team-item-info">
                            <h6>Michael Lee</h6>
                            <p class="">Photographer</p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="team-item">
                        <div class="team-item-img">
                            <img src="img/team/06.jpg" alt="" />
                            <div class="team-item-detail">
                                <div class="team-item-detail-inner light-color">
                                    <h5>Michael Lee</h5>
                                    <p>To portal for some of the world's most high-value net.</p>
                                    <ul class="social">
                                        <li><a href="https://www.facebook.com/" target="_blank"><i
                                                    class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://www.twitter.com/" target="_blank"><i
                                                    class="fa fa-twitter"></i></a></li>
                                        <li><a href="https://www.dribbble.com/" target="_blank"><i
                                                    class="fa fa-dribbble"></i></a></li>
                                        <li><a href="https://www.pinterest.com/" target="_blank"><i
                                                    class="fa fa-pinterest"></i></a></li>
                                        <li><a href="https://www.behance.net/" target="_blank"><i
                                                    class="fa fa-behance"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="team-item-info">
                            <h6>Michael Lee</h6>
                            <p class="">Photographer</p>
                        </div>
                    </div>
                </div>

            </div>
            <!--End Team Carousel --->
        </div>
    </div>
</section>