<section id="video-action" class="section-padding bg-image overlay-dark dark-bg" data-stellar-background-ratio="0.5"
    data-background-img="img/full/02.jpg">
    <div class="container text-center">
        <div class="page-icon">
            <a class="video-popup white" href="https://www.youtube.com/watch?v=bMZ3ysoCgEU"><i
                    class="icon icon-music-play-button"></i></a>
        </div>
        <p class="max-width-700 lead">
            We’re developing a number of special projects if interested,<br />
            see the promo video
        </p>
        <h6 class="page-title-alt color mb-0">See Watch Video</h6>
    </div>
</section>