extends layout

block css
  link(rel="stylesheet", href="css/pages/page_404_error.css")

block js
  script(type="text/javascript").
    jQuery(document).ready(function() {
      App.init();
    });
    
block breadcrumbs
  .breadcrumbs
    .container
      h1.pull-left #{error.status} #{error.message}

block content
  .container.content
    .row
      .col-md-8.col-md-offset-2
        .error-v1
          span.error-v1-title #{error.status}
          span #{error.message}
          p 大変申し訳ございませんが、下記ボタンをクリックして、ホームページに戻ってください。
          a.btn-u.btn-border(href="home") Back Home
